<style>
    .leftpanel-ul {
        list-style-type: none;
        padding-left: 5px;
        padding-top: 5px;
    }

        .leftpanel-ul li {
            text-align: center;
            color: gray;
            font-size: x-large;
            padding: 10px 10px;
            border-bottom: 2px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-radius: 10px;
        }

    li:hover {
        background-color: #5cb85c;
        color: white;
    }

    .card {
        border-bottom: 2px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 10px;
        margin-top: 5px;
        margin-right: 5px;
        height: 200px;
    }

    .form-group span {
        font-size: large;
        font-weight: 400;
        color: rgb(114, 111, 111);
        margin-top: 15px;
    }

    .form-group label {
        font-size: larger;
        font-weight: 500;
        color: rgb(114, 111, 111);
        margin-top: 15px;
    }

    .scrollable-content {
        height: 100%;
        overflow: auto;
    }

    textarea {
        width: 92%;
        height: 70%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-size: 14px;
        resize: none;
        margin-left: 20px;
    }
</style>

<div class="row">
    <div class="col-md-3" style="border-right: 1px solid #ddd; height: 80vh;">
        <ul class="leftpanel-ul">
            <li>Not Claimed</li>
            <li>Claimed</li>
            <li>Claimed By Me</li>
        </ul>
    </div>
    <div class="col-md-9" style="height: 80vh;">
        <div class="scrollable-content">
            <div class="container">
                <div class="row" style="margin-top:5px;border:1px solid #ddd;border-bottom: 2px solid #ddd; border-radius:10px;padding-bottom: 15px;">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="cmpnyID">Company ID :</label>
                            <span id="cmpnyID">KFL</span>
                        </div>
                        <div class="form-group">
                            <label for="taskID">Task ID :</label>
                            <span id="taskID">TSK1</span>
                        </div>
                        <div class="form-group">
                            <label for="stDate">Start Date :</label>
                            <span id="stDate">2022-03-31</span>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date :</label>
                            <span id="endDate">2022-04-25</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <div class="form-group">
                                <label for="tskDisc">Discription :</label>
                            </div>
                        </div>
                        <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem odio numquam laborum, recusandae doloremque et iste sed, modi in obcaecati facilis officiis sequi deleniti debitis alias! Corporis, quisquam distinctio.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloribus eveniet cupiditate. Totam, sequi corporis officiis earum sed est optio quo dolore architecto nam sint a minima fugiat cumque voluptatem.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem corporis, iure velit eaque inventore aliquam laudantium, ipsum reiciendis veritatis, esse minus? Fugiat illum quas, dolorum vero fugit magnam nesciunt.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, impedit! Delectus qui, harum illo laboriosam voluptas, accusamus eos, nesciunt repellat quis rerum aliquid nam ut alias obcaecati nobis quidem earum.
                            </textarea>
                    </div>
                    <div class="col-3">
                        <div class="container">
                            <div class="form-group">
                                <label for="priority">Priority :</label>
                                <span id="priority">3</span>
                            </div>
                            <div class="form-group">
                                <label for="supFile">Sup. File :</label>
                                <span id="supFile">File</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success">Claim Task</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;border:1px solid #ddd;border-bottom: 2px solid #ddd; border-radius:10px;padding-bottom: 15px;">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="cmpnyID">Company ID :</label>
                            <span id="cmpnyID">KFL</span>
                        </div>
                        <div class="form-group">
                            <label for="taskID">Task ID :</label>
                            <span id="taskID">TSK1</span>
                        </div>
                        <div class="form-group">
                            <label for="stDate">Start Date :</label>
                            <span id="stDate">2022-03-31</span>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date :</label>
                            <span id="endDate">2022-04-25</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <div class="form-group">
                                <label for="tskDisc">Discription :</label>
                            </div>
                        </div>
                        <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem odio numquam laborum, recusandae doloremque et iste sed, modi in obcaecati facilis officiis sequi deleniti debitis alias! Corporis, quisquam distinctio.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloribus eveniet cupiditate. Totam, sequi corporis officiis earum sed est optio quo dolore architecto nam sint a minima fugiat cumque voluptatem.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem corporis, iure velit eaque inventore aliquam laudantium, ipsum reiciendis veritatis, esse minus? Fugiat illum quas, dolorum vero fugit magnam nesciunt.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, impedit! Delectus qui, harum illo laboriosam voluptas, accusamus eos, nesciunt repellat quis rerum aliquid nam ut alias obcaecati nobis quidem earum.
                            </textarea>
                    </div>
                    <div class="col-3">
                        <div class="container">
                            <div class="form-group">
                                <label for="priority">Priority :</label>
                                <span id="priority">3</span>
                            </div>
                            <div class="form-group">
                                <label for="supFile">Sup. File :</label>
                                <span id="supFile">File</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success">Claim Task</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;border:1px solid #ddd;border-bottom: 2px solid #ddd; border-radius:10px;padding-bottom: 15px;">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="cmpnyID">Company ID :</label>
                            <span id="cmpnyID">KFL</span>
                        </div>
                        <div class="form-group">
                            <label for="taskID">Task ID :</label>
                            <span id="taskID">TSK1</span>
                        </div>
                        <div class="form-group">
                            <label for="stDate">Start Date :</label>
                            <span id="stDate">2022-03-31</span>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date :</label>
                            <span id="endDate">2022-04-25</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <div class="form-group">
                                <label for="tskDisc">Discription :</label>
                            </div>
                        </div>
                        <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem odio numquam laborum, recusandae doloremque et iste sed, modi in obcaecati facilis officiis sequi deleniti debitis alias! Corporis, quisquam distinctio.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloribus eveniet cupiditate. Totam, sequi corporis officiis earum sed est optio quo dolore architecto nam sint a minima fugiat cumque voluptatem.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem corporis, iure velit eaque inventore aliquam laudantium, ipsum reiciendis veritatis, esse minus? Fugiat illum quas, dolorum vero fugit magnam nesciunt.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, impedit! Delectus qui, harum illo laboriosam voluptas, accusamus eos, nesciunt repellat quis rerum aliquid nam ut alias obcaecati nobis quidem earum.
                            </textarea>
                    </div>
                    <div class="col-3">
                        <div class="container">
                            <div class="form-group">
                                <label for="priority">Priority :</label>
                                <span id="priority">3</span>
                            </div>
                            <div class="form-group">
                                <label for="supFile">Sup. File :</label>
                                <span id="supFile">File</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success">Claim Task</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;border:1px solid #ddd;border-bottom: 2px solid #ddd; border-radius:10px;padding-bottom: 15px;">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="cmpnyID">Company ID :</label>
                            <span id="cmpnyID">KFL</span>
                        </div>
                        <div class="form-group">
                            <label for="taskID">Task ID :</label>
                            <span id="taskID">TSK1</span>
                        </div>
                        <div class="form-group">
                            <label for="stDate">Start Date :</label>
                            <span id="stDate">2022-03-31</span>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date :</label>
                            <span id="endDate">2022-04-25</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <div class="form-group">
                                <label for="tskDisc">Discription :</label>
                            </div>
                        </div>
                        <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem odio numquam laborum, recusandae doloremque et iste sed, modi in obcaecati facilis officiis sequi deleniti debitis alias! Corporis, quisquam distinctio.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloribus eveniet cupiditate. Totam, sequi corporis officiis earum sed est optio quo dolore architecto nam sint a minima fugiat cumque voluptatem.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem corporis, iure velit eaque inventore aliquam laudantium, ipsum reiciendis veritatis, esse minus? Fugiat illum quas, dolorum vero fugit magnam nesciunt.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, impedit! Delectus qui, harum illo laboriosam voluptas, accusamus eos, nesciunt repellat quis rerum aliquid nam ut alias obcaecati nobis quidem earum.
                            </textarea>
                    </div>
                    <div class="col-3">
                        <div class="container">
                            <div class="form-group">
                                <label for="priority">Priority :</label>
                                <span id="priority">3</span>
                            </div>
                            <div class="form-group">
                                <label for="supFile">Sup. File :</label>
                                <span id="supFile">File</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success">Claim Task</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;border:1px solid #ddd;border-bottom: 2px solid #ddd; border-radius:10px;padding-bottom: 15px;">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="cmpnyID">Company ID :</label>
                            <span id="cmpnyID">KFL</span>
                        </div>
                        <div class="form-group">
                            <label for="taskID">Task ID :</label>
                            <span id="taskID">TSK1</span>
                        </div>
                        <div class="form-group">
                            <label for="stDate">Start Date :</label>
                            <span id="stDate">2022-03-31</span>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date :</label>
                            <span id="endDate">2022-04-25</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container">
                            <div class="form-group">
                                <label for="tskDisc">Discription :</label>
                            </div>
                        </div>
                        <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem odio numquam laborum, recusandae doloremque et iste sed, modi in obcaecati facilis officiis sequi deleniti debitis alias! Corporis, quisquam distinctio.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloribus eveniet cupiditate. Totam, sequi corporis officiis earum sed est optio quo dolore architecto nam sint a minima fugiat cumque voluptatem.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem corporis, iure velit eaque inventore aliquam laudantium, ipsum reiciendis veritatis, esse minus? Fugiat illum quas, dolorum vero fugit magnam nesciunt.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, impedit! Delectus qui, harum illo laboriosam voluptas, accusamus eos, nesciunt repellat quis rerum aliquid nam ut alias obcaecati nobis quidem earum.
                            </textarea>
                    </div>
                    <div class="col-3">
                        <div class="container">
                            <div class="form-group">
                                <label for="priority">Priority :</label>
                                <span id="priority">3</span>
                            </div>
                            <div class="form-group">
                                <label for="supFile">Sup. File :</label>
                                <span id="supFile">File</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success">Claim Task</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>